.header {
  background-color: #1f2937;

  margin: 0;
  padding: 0;
}

.body {
  margin: 0;
}

.headerlogo {
  margin: 0;
  margin-left: 8px;
  color: #f9faf8;
  font-family: "Roboto", sans-serif;
  display: inline-block;
}

.hero {
  display: flex;
}

.herotext {
  font-size: 48px;
  font-style: extrabold;
  margin-left: 8px;
  font-family: "Roboto", sans-serif;
  color: #f9faf8;
  white-space: nowrap;
}

.redirects {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #f9faf8;
}

.redirect-div {
  display: inline-block;
}

.herodesc,
.signup {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #e5e7eb;
}

.signup-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #3882f6;
  border-radius: 10px;
  background-color: #3882f6;
  width: 100px;
  height: 30px;
  margin-left: 8px;
}

.header {
  padding-top: 16px;
  padding-bottom: 64px;
}


.car {
  height: 350px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: 256px;
}

.hero {
  display: flex;
}
