.header {
  background-color: #1f2937;

  margin: 0;
  padding: 0;
}

.body {
  margin: 0;
}

.headerlogo {
  margin: 0;
  margin-left: 8px;
  color: #f9faf8;
  font-family: "Roboto", sans-serif;
}

.herotext {
  font-size: 48px;
  font-style: extrabold;
  margin-left: 8px;
  font-family: "Roboto", sans-serif;
  color: #f9faf8;
}

.redirects {
  font-family: "Roboto", sans-serif;
  margin-left: 8px;
  color: #f9faf8;
}

.herodesc,
.signup {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  margin-left: 8px;
  color: #e5e7eb;
}

.signup-button {
  border: 2px solid #3882f6;
  border-radius: 10px;
  background-color: #3882f6;
  margin-right: 730px;
}

.header {
  padding-top: 16px;
  padding-bottom: 128px;
}
